.container {
    background-color: #F2F3F6;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% 90%;
}

.navbarContainer {
    padding: 10px 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar {
    width: 300px;
    height: 40px;
    background-color: #F8F9FA;
    border: 0.5px solid #E5E5E5;
    border-radius: 15px;
    padding:0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarIcon {
    font-size: 20px;
    color: #5A566E;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbarIcon:hover, .navbarIcon.active {
    color: #1c7dde;
    position: relative;
}

.caret {
    font-size: 16px; 
    color: #5A566E;
    padding-left: 2px;
    cursor: pointer;
  }
  
  .caret:hover {
    color: #1c7dde; /* Change the hover color to your desired color */
  }

.myCanvasContainer {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.myCanvas {
    margin: 10px;
    background-color: #F2F3F6;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0;
}

.myCanvas::before,
.myCanvas::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#E8E7E9 1px, transparent 2px);
    background-size: 30px 30px;
    pointer-events: none;
    z-index: -1; /* Set a lower z-index value than the page-wrapper */
}

/* .childToolDropdown {
    position: absolute;
    display:flex;
    flex-direction: column;
    z-index: 1;
    height: 60px;
    background-color: #F8F9FA;
    border: 0.5px solid #E5E5E5;
    border-radius: 5px;
    padding:20px;
    margin: 15px 0px;
    align-items: center;
    justify-content: space-between;
    top: 0;
} */

/* childToolDropdown should be below navbar */

.childToolDropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 60px;
    background-color: #F8F9FA;
    border: 0.5px solid #E5E5E5;
    border-radius: 5px;
    padding: 20px;
    margin: 15px -20px;
    align-items: center;
    justify-content: space-between;
    top: 40px; /* Increase the value to add more space at the top */
}

